*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color:yellowgreen;
}
.navElements{
    display: flex;
    align-items: center;
    padding: 10px;
}
.featureOuter{
    display: flex;
}
.feature{
    margin-left: 20px;
}
.profileNameText{
    margin-left: 15px;
}